/**
 * Credits: Brady Wright (https://codepen.io/brady_wright/pen/NNOvrW)
 */

 * {
  font-family: "Roboto", sans-serif;
}

body {
  color: #252525;
  background: #fff;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  margin-top: 2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3d4351;
  margin-top: 0;
}
a {
  color: #252525;
}
a:hover {
  color: #252525;
  text-decoration: underline;
}
.example-header {
  background: #3d4351;
  color: #fff;
  font-weight: 300;
  padding: 3em 1em;
  text-align: center;
}
.example-header h1 {
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
}
.example-header p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}
.container-fluid .row {
  padding: 0 0 4em 0;
}
.container-fluid .row:nth-child(even) {
  background: #f1f4f5;
}
.example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #e4eaec;
}
.example-title p {
  margin: 0 auto;
  font-size: 16px;
  max-width: 400px;
}
/*==================================
TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
  line-height: inherit;
}
/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}
/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 1.1em;
  font-weight: bolder;
  letter-spacing: 3px;
  margin: 0 0 0.5em 0;
  text-align: right;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: #006d00;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #ccd5db;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}
.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #006d00;
}
/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}
/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #ccd5db;
  border-bottom: 3px solid #ccd5db;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}
/*----------------------------------------------
MOD: TIMELINE SPLIT
----------------------------------------------*/
.timeline-split .timeline,
.timeline-centered .timeline {
  display: table;
}
.timeline-split .timeline-item,
.timeline-centered .timeline-item {
  display: table-row;
  padding: 0;
}
.timeline-split .timeline-info,
.timeline-centered .timeline-info,
.timeline-split .timeline-marker,
.timeline-centered .timeline-marker,
.timeline-split .timeline-content,
.timeline-centered .timeline-content,
.timeline-split .period .timeline-info,
.timeline-centered .period .timeline-info {
  display: table-cell;
  vertical-align: top;
}
.timeline-split .timeline-marker,
.timeline-centered .timeline-marker {
  position: relative;
}
.timeline-split .timeline-content,
.timeline-centered .timeline-content {
  padding-left: 30px;
}
.timeline-split .timeline-info,
.timeline-centered .timeline-info {
  padding-right: 30px;
}
.timeline-split .period .timeline-title,
.timeline-centered .period .timeline-title {
  position: relative;
  left: -45px;
}

/*----------------------------------------------
MOD: MARKER OUTLINE
----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #003f00;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #006d00;
}

/*----------------------------------------------
CALENDAR HEADER
----------------------------------------------*/

.calendar-header {
  margin-bottom: 3em;
}

.calendar-header h2,
.calendar-header strong {
  font-weight: bolder;
  color: #212529;
}

.calendar-header p {
  margin-bottom: 0px;
}

.calendar-header div.icon {
  text-align: center;
  vertical-align: middle;
}

.calendar-header div.icon i {
  font-size: 7em;
  color: #003f00;
}

.calendar-header div.description {
  
}

.calendar-header div.headline {
  text-align: right;
}

.calendar-header div.headline p {
  line-height: 1em;
}

.calendar-header div.headline h2 {
  font-size: 3em;
  font-weight: bolder;
}

/*----------------------------------------------
MONTH START
----------------------------------------------*/

.month-start div.timeline-content {
  
}

.month-start h2.timeline-title {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bolder;
  color: #006d00;
}

.month-start .timeline-item.period {
  text-align: right;
}

/*----------------------------------------------
MONTH ITEM
----------------------------------------------*/

.month-item div.timeline-info {
  width: 25%;
}

.month-item div.timeline-info span {
  font-size: 2em;
  overflow-wrap: break-word;
}

.month-item div.timeline-info span.range {
  font-size: 1.4em;
}

.month-item div.timeline-info sub {
  color: #677481;
  display: block;
  margin-top: 0.4em;
  text-transform: uppercase;
}

.month-item h3.timeline-title {
  font-size: 1.5em;
}


